* {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F2E9E4;
    color: #22223B;
}

h1 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    padding: .5em 0
}

h3 {
    padding: 1em 0;
}

header,
nav {
    background-color: #9A8C98;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
}

.link_to_misc {
    list-style-type: none;
    text-align: center;
}

.link_to_misc li a:link {
    color: rgb(53, 8, 80);
}

.link_to_misc li a:visited {
    color: silver;
}

.link_to_misc li {
    display: inline;
}

.link_to_misc a {
    display: inline-block;
    padding: 1em;
}

main {
    margin: 0 .4em;
}

article,
section {
    background-color: #C9ADA7;
}

article,
.about_us {
    margin-top: 2em;
    margin-bottom: 1em;
}

section h2:first-child {
    text-align: center;
}

.breakfast li {
    color: teal;
}

.breakfast img {
    float: right;
}

.breakfast ul {
    float: left;
}

.lunch {
    clear: both;
}

.lunch img {
    float: left;
}

.lunch p:nth-of-type(2) {
    clear: both;
}

.about_us img {
    display: block;
    margin: 0 auto;
}

.about_us p {
    padding: 1em 0;
}